* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/* ------------------------------ Partials ------------------------------ */

.text-decor-none,
.text-decor-none:hover {
   text-decoration: none;
}

.author-ava {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.flex-wrap {
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

.j-sb {
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}

.j-se {
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
}

.flex-align-center {
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.flex-align-bottom {
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
}

.section {
   margin: 110px 0 80px;
}

.border-none {
   border: none !important;
}

.news-box__container .news-action-dropdown p,
.phone_number p,
.teachers-box__name {
   margin: 0;
}

.transition {
   -webkit-transition: all 0.3s;
           transition: all 0.3s;
}

/* ------------------------------ Index ------------------------------ */

header {
   background: url('/media/img/slider_background.jpg');
   height: 100vh;
   background-size: cover;
   -webkit-transition: all 1s;
           transition: all 1s;
   color: #fff;
}

.section-title {
   color: #1a1a1a;
   font-size: 33px;
   text-align: center;
   font-weight: 600;
   margin-bottom: 60px;
}

.section-title::before {
   content: '';
   display: block;
   background: #ffb606;
   width: 55px;
   margin: 0 auto 20px;
   height: 4px;
}

.text-title {
   font-size: 21px;
   font-weight: 600;
}

.text-desc {
   color: #a5a5a5;
   font-weight: 600;
   font-size: 13.5px;
   line-height: 2.29;
}

.wrapper {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 25px;
}

.principal {
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   position: absolute;
   letter-spacing: 5px;
   text-align: center;
}

.principal h1 {
   font-size: 85px;
   color: #fff;
   margin-bottom: 20px;
}

.principal p {
   font-size: 20px;
}

nav {
   position: fixed;
   z-index: 999;
   top: 4%;
   left: 10%;
   text-transform: uppercase;
   width: 80%;
   background-color: #fff;
   color: #1a1a1a;
   -webkit-box-shadow: 0 8px 6px -6px #999;
           box-shadow: 0 8px 6px -6px #999;
   overflow: hidden;
}

.logo {
   margin: 0 auto;
   font-family: 'Courgette';
   font-weight: 700;
   line-height: 45px;
   width: 15%;
   text-align: center;
   font-size: 30px;
}

.logo a {
   color: #1a1a1a;
   font-size: 38px;
}

nav .menu {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.menu_item {
   margin-left: 30px;
   font-weight: 700;
   font-size: 15px;
}

.menu_link {
   text-decoration: none;
   color: #1a1a1a;
}

.menu_link:hover {
   color: rgb(255,182,6);
}

.phone_number {
   background-color: rgb(255,182,6);
   margin-left: 20px;
   padding: 35px 16px;
   color: #fff;
   font-size: 1.2em;
}

.links {
   position: absolute;
   width: 85%;
   left: 7.5%;
   bottom: 8%;
}

.links-box {
   display: block;
   background-color: #1a1a1a;
   width: 30%;
   padding: 35px 13px;
   color: inherit;
}

.links-box:hover {
   background: #ffb606;
}

.links-box:hover .links_text p {
   color: #fff;
}

.links_icon {
   width: 60px;
   margin-top: 7px;
}

.links_icon img {
   width: 100%;
}

.links-title {
   font-size: 20px;
}

.view-more {
   font-size: 13px;
   text-transform: uppercase;
}

/* Courses */

.talents-box__item {
   width: 30%;
   margin-bottom: 50px;
}

.talents-box__img {
   height: 263px;
   overflow: hidden;
}

.talents-box__img img {
   width: 100%;
   min-height: 100%;
}

.talents-box__text {
   background: #F8F9FB;
   text-align: center;
   padding: 40px 10px;
}

.talents-box__author {
   background: #EAEBEC;
   padding: 10px 10px 8px;
}

.talents-box__avatar {
   font-size: 0;
   border-radius: 50%;
   overflow: hidden;
   width: 45px;
}

.talents-box__avatar img {
   width: 100%;
}

.talents-box__name {
   font-weight: 600;
   font-size: 14px;
}

.talents-box__name span {
   color: #a5a5a5;
}

/* Specialty detail */

.specialty-title {
   color: #1a1a1a;
   font-size: 33px;
   font-weight: 600;
   margin-bottom: 30px;
}

.specialty-title::before {
   content: '';
   display: block;
   background: #ffb606;
   width: 55px;
   margin: 0 0 20px;
   height: 4px;   
}

.specialty-box .uk-tab>.uk-active > a {
   border-color: #ffb606;
}

.specialty-box .specialty-box__desc-title {
   font-size: 20px;
   margin-bottom: 7px;
}

.specialty-box dd {
   padding-bottom: 15px;
   border-bottom: 1px solid #E5E5E5;
}

.specialty-box p {
   line-height: 1.75;
}

/* Register */

.register {
   font-size: 0;
   text-align: center;
}

.register-info,
.register-form {
   display: inline-block;
   width: 50%;
   font-size: 16px;
   height: 674px;
   vertical-align: top;
}

.register-form {
   background: url('/media/img/search_background.jpg');
   background-size: cover;
}

.register-form .register-title {
   color: #1a1a1a;
}

.register-info {
   background: #ffb606;
   color: #fff;
}

.register-info .register-title {
   color: #fff;
}

.register-wrap {
   max-width: 60%;
   margin: 20% auto 0;
}

.register-title {
   font-size: 35px;
   margin-bottom: 40px;
   font-weight: 600;
   line-height: 1.63em;
}

.register-desc {
   line-height: 2.29;
   margin-bottom: 45px;
}

.register-form .register-desc {
   color: #1a1a1a;
}

.register-submit {
   background: #000;
   color: #fff;
   padding-top: 16px;
   padding-bottom: 16px;
   display: inline-block;
   cursor: pointer;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
   outline: none;
}

.register-info .register-submit {
   width: 200px;
}

.register-form .register-submit {
   width: 100%;
   background: #ffb606;
}

.register-submit:hover {
   -webkit-box-shadow: 7px 6px 8px -4px rgba(0,0,0,0.75);
           box-shadow: 7px 6px 8px -4px rgba(0,0,0,0.75);
   color: #fff;
}

/* Services */

.services-box__item {
   width: 32%;
   margin-bottom: 40px;
}

.services-box__icon {
   width: 40px;
}

.services-box__icon img {
   width: 100%;
}

.services-box__title {
   margin: 15px 0;
}

/* Testimonials */

.testimonials {
   padding: 110px 0 80px;
   background: url('/media/img/testimonials_background_2.jpg');
   color: #fff;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
}

.testimonials .section-title {
   color: #fff;
}

.testimonials-quote {
   color: #ffb606;
   font-size: 2em;
   margin-bottom: 15px;
}

.testimonials-text {
   line-height: 2.29;
   font-size: 14px;
   margin-bottom: 50px;
   padding: 0 10%;
   color: #fff;
}

.testimonial-user {
   margin-bottom: 30px;
}

.testimonial-img {
   overflow: hidden;
   width: 80px;
   margin: 0 auto 20px;
   border-radius: 50%;
}

.testimonial-img img {
   width: 100%;
}

.testimonial-name {
   text-transform: uppercase;
   font-weight: 600;
   color: #ffb606;
   margin-bottom: 6px;
}

.testimonial-title {
   font-size: 14px;
   font-weight: 600;
}

.slider-review-box {
   min-height: 450px !important;
}

.slider-review-dotnav .uk-active a {
   background: #ffb606 !important;
   width: 20px;
   height: 20px;
}

/* Events */

.events-box__item {
   margin-bottom: 100px;
}

.events-box__date {
   padding: 25px 35px;
   margin-right: 50px;
   font-size: 50px;
   border: solid 2px #ffb606;
   font-weight: 600;
   color: #ffb606;
   text-align: center;
}

.events-box__date span {
   display: block;
   font-size: 14px;
}

.events-box__text {
   margin-right: 30px;
}

.events-box__title a {
   color: inherit;
   text-decoration: none;
}

.events-box__title a:hover {
   color: #ffb606;
}

.events-box__location {
   font-size: 15px;
   margin-top: 5px;
   margin-bottom: 19px;
}

.events-box__img {
   width: 50%;
}

.events-box__img img {
   width: 100%;
}

.information-box__container .news-box__date {
   font-size: 35px;
}

/* News-slider */

.news-slider-box {
   margin-top: 50px;
}

.slider-btn {
   background: #ffb606;
   text-decoration: none;
   margin-top: 20px;
   padding: 6px 46px;
   font-size: 14.5px;
   display: inline-block;
}

.slider-btn:hover {
   background: #d89902;
   -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
           box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

/* Footer */

footer {
   background: #1a1a1a;
   padding: 115px 0 0;
}

footer .section-title {
   color: #fff;
}

.subscribe {
   padding-bottom: 60px;
   text-align: center;
   font-size: 0;
   border-bottom: 1px solid #4d4e4e;
}

.subscribe input {
   width: 60%;
   height: 42px;
   border: none;
   padding: 0 27px;
   font-weight: 500;
   color: #1a1a1a;
   vertical-align: top;
   outline: none;
}

.subscribe button {
   width: 164px;
   height: 42px;
   border: none;
   background: #ffb606;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   outline: none;
}

.footer-box {
   color: #fff;
   margin-top: 60px;
   padding-bottom: 60px;
   border-bottom: 1px solid #4d4e4e;
}

.footer-box__item {
   width: 23%;
}

.footer-logo {
   font-size: 30px;
   margin-bottom: 5px;
}

.footer-title {
   color: #fff;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 25px;
}

.footer-box__item a {
   color: #a5a5a5;
   display: inline-block;
   font-size: 14px;
   text-decoration: none;
   margin-bottom: 10px;
}

.footer-box__item a:hover {
   color: #ffb606;
}

.footer-box__item .text-desc {
   font-weight: 400;
}

.contacts-info {
   font-size: 14px;
   color: #a5a5a5;
   margin-bottom: 23px;
}

.contacts-info i {
   font-size: 17px;
   display: inline-block;
   width: 20px;
   text-align: center;
   color: #ffb606;
}

.footer-info {
   padding: 10px 0;
}

.footer-info p {
   color: #a5a5a5;
}

.socials a {
   display: inline-block;
   color: #fff;
   margin-right: 25px;
   text-decoration: none;
}

.socials a:last-child,
.teachers-box__links a:last-child,
.teachers-detail-info__links a:last-child {
   margin-right: 0;
}




/* ------------------------------ News ------------------------------ */

.news-header {
   background: url('/media/background-images/news-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   height: 400px;
}

.news-header h1 {
   background: #ffb606;
   font-size: 72px;
   font-weight: 400;
   color: #fff;
   display: inline-block;
   padding: 0 30px;
   margin-top: 220px;
}

.news-box {
   width: 65.5%;
}

.news-box__item {
   margin-bottom: 60px;
}

.news-comment-box__item:last-child,
.news-box__item:last-child {
   margin-bottom: 0;
}

.news-box__img img,
.news-img-container__item img {
   width: 100%;
}

.news-img-container__item {
   width: 48.5%;
   margin-bottom: 20px;
}

.news-img-container__item a,
.news-img-container__item:hover a {
   color: #fff;
}

.news-img-container__item:hover .teachers-overlay-link {
   opacity: 1;
}

.news-box__container {
   margin: 35px 0 25px;
}

.news-box__date {
   text-align: center;
   margin-right: 25px;
   background: #ffb606;
   color: #fff;
   font-size: 24px;
   padding: 15px 26px;
   font-weight: 600;
}

.news-box__date span {
   display: block;
   margin-top: -6px;
   font-size: 14px;
}

.news-box__title a {
   color: #1a1a1a;
   font-size: 36px;
   text-decoration: none;
   font-weight: 600;
   margin-top: -10px;
   margin-bottom: 7px;
   display: block;
}

.news-box__title a:hover,
.news-more__link:hover {
   color: #a5a5a5;
}

.news-box__title img {
   display: block;
}

.news-box__author {
   margin-top: 0;
   font-size: 12px;
   font-weight: 600;
}

.news-box__desc {
   font-size: 13px;
}

.news-box__more {
   display: inline-block;
   padding: 15px 50px;
   background: #ffb606;
   color: #fff;
   margin-top: 20px;
   font-weight: 700;
}

.news-box__more:hover {
   -webkit-box-shadow: 5px 6px 8px -6px rgba(0,0,0,0.75);
            box-shadow: 5px 6px 8px -6px rgba(0,0,0,0.75);
   color: #fff;
}

.news-more {
   width: 30%;
}

.news-more__title {
   margin-top: -7px;
   margin-bottom: 33px;
   font-weight: 700;
   font-size: 18px;
}

.news-more__img {
   height: 135px;
   overflow: hidden;
}

.news-more__img img {
   width: 100%;
   min-height: 100%;
}

.news-more__link {
   font-weight: 600;
   font-size: 18px;
   color: #1a1a1a;
   margin: 27px 0 10px;
   display: inline-block;
   text-decoration: none;
}

.news-more__author {
   margin: 0;
   color: #a5a5a5;
   font-size: 12px;
}

.news-more__item {
   margin-bottom: 20px;
}

.news-more__author span {
   color: #1a1a1a;
}

/* ------------------------------ News Detail ------------------------------ */

.news-detail__quote {
   background: #F8F4F4;
   border-left: 4px solid #ffb606;
   font-size: 18px;
   font-style: italic;
   color: #a5a5a5;
   line-height: 32.08px;
   padding: 40px;
}

.news-detail__quote::first-letter {
   font-size: 30px;
   color: #ffb606;
}

.news-desc-margin-b {
   margin-bottom: 40px;
}

.news-desc-margin-t {
   margin-top: 40px;
}

.news-detail__comment {
   font-size: 18px;
   margin: 60px 0;
}

.news-comment-box__item {
   margin-bottom: 40px;
}

.news-comment-box__ava {
   margin-right: 25px;
   border-radius: 50%;
   overflow: hidden;
   width: 115px;
   height: 70px;
}

.news-comment-box__ava img {
   width: 100%;
   height: 100%;
}

.news-comment-box__text {
   font-weight: 400;
}

.news-comment-box__author {
   font-size: 14px;
   font-weight: 600;
   margin-bottom: 15px;
}

.news-comment-box__author span {
   color: #ffb606;
}

.add-comment__field,
#id_username,
#id_email,
.add-comment-form textarea,
.add-comment-form button {
   width: 100%;
   display: block;
   background: #F8F4F4;
   border: none;
   padding: 12px 25px;
   font-weight: 600;
}

.add-comment__field,
#id_email,
.add-comment-form textarea,
.add-comment-form button {
   margin-bottom: 17px;;
}

.add-comment-form textarea:focus,
.add-comment__field:focus {
   outline: 2px solid #ffb606;
}

.add-comment-form textarea {
   min-height: 70px;
   height: 200px;
   resize: vertical;
}

.add-comment-form button,
.profile button {
   margin-bottom: 0;
   background: #ffb606;
   color: #fff;
   outline: none;
   text-transform: uppercase;
   font-weight: 600;
   padding: 14px 0;
   cursor: pointer;
}

.add-comment-form button:hover,
.profile button:hover {
   -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
           box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.profile-wrapper {
   display: block;
   width: 80%;
   margin: 0 auto;
   padding: 35px;
   border: 1px solid silver;
   margin-bottom: 45px;
   margin-top: 45px;
}

.profile {
   font-family: 'Open Sans', sans-serif;
}


.profile button {
   width: 100%;
   border: none;
}

.profile h2 {
   text-align: center;
   margin-bottom: 50px;
}

.profile:last-child p {
   padding-bottom: 30px;
}

.profile label {
   display: block;
   margin-bottom: 11px;
   font-size: 14px;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
   text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.profile .helptext {
   font-size: 13px;
   color: #6c757d;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
   text-shadow: rgba(0,0,0,.01) 0 0 1px;
   padding-bottom: 7px;
}

.user-info {
   display: block;
   padding-left: 19px;
}

.news-box__container .news-action-button {
   padding: 0 25.7px;
   cursor: pointer;
   outline: none;
}

.news-box__container .news-action-dropdown {
   text-align: center;
   padding: 0;
}

.news-action-button__link {
   text-align: center;
   display: block;
   padding: 5px;
}

.news-action-button__link i {
   display: inline-block;
   margin-left: 10px;
}

.news-action-button__link-edit {
   background: #F8F4F4;
   color: #9E7575;
}

.news-action-button__link-edit:hover {
   color: #9E7575;
   background: #e2dede;
}

.news-action-button__link-edit i,
.menu_item:first-child {
   margin-left: 0px;
}

.news-action-button__link-delete {
   background: #F0506E;
   color: #fff;
}

.news-action-button__link-delete:hover {
   color: #fff;
   background: #ce3754;
}

/* ------------------------------ Teachers ------------------------------ */

.teachers-box__item {
   width: 30%;
   margin-bottom: 70px;
   background: #F8F9FB;
}

.teachers-box__img {
   height: 250px;
   overflow: hidden;
}

.teachers-box__img:hover .teachers-overlay-link {
   opacity: 1;
}

.teachers-overlay-link {
   opacity: 0;
}

.teachers-overlay-link p {
   font-size: 17px;
   color: #fff;
}

.teachers-box__img img {
   width: 100%;
   min-height: 100%;
}

.teachers-box__desc {
   padding: 50px 15px 58px;
   text-align: center;
}

.teachers-box__job {
   margin: 0 0 34px
}

.teachers-box__links a {
   display: inline-block;
   margin-right: 22px;
   color: #3a3a3a;
   text-decoration: none;
   font-size: 16px;
}

.teachers-box__links a:hover {
   color: #ffb606;
}

/* ------------------------------ Teachers Detail ------------------------------ */

.teachers-detail {
   font-size: 0;
}

.teachers-detail * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

.teachers-detail-ava-box {
   background: #F8F9FB;
   width: 37%;
   height: 700px;
   display: inline-block;
   vertical-align: top;
}

.teachers-detail-info-box {
   width: 63%;
   font-size: 16px;
   display: inline-block;
}

.teachers-detail-ava__img {
   width: 250px;
   height: 235px;
   border-radius: 50%;
   overflow: hidden;
   margin: 17% 70px 0 auto;
}

.teachers-detail-ava__img img {
   width: 100%;
   min-height: 100%;
}

.teachers-detail-info-container {
   max-width: 750px;
   padding-top: 10%;
   margin-left: 6.5%;
}

.teachers-detail-info__name {
   font-size: 62px;
   margin: 0 0 40px;
   font-weight: 300;
}

.teachers-detail-info__name span {
   display: block;
   color: #ffb606;
   text-transform: uppercase;
   line-height: 25px;
   font-weight: 600;
}

.teachers-detail-info__job-title {
   margin: 0;
   font-size: 21px;
   font-weight: 300;
}

.teachers-detail-info__links a {
   background: #EDEDED;
   width: 38px;
   padding: 5px 0;
   font-size: 21px;
   text-align: center;
   display: inline-block;
   margin-right: 8px;
   color: #c6c6c6;
}

.teachers-detail-info__links a:hover {
   background: #ffb606;
   color: #fff;
}

.teachers-detail-info__personal-info {
   margin-top: 250px;
   margin-bottom: 50px;
   padding-top: 20px;
   border-top: 2px solid #ECECEC;
}

.teachers-detail-info__personal-info p {
   font-size: 14px;
}

.teachers-detail-info__personal-title {
   font-weight: 600;
   margin: 0;
}

.teachers-detail-info__personal-desc {
   margin: 13px 0 0;
}