{% extends 'base.html' %}
{% block links %}
   <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
   <script src="{% static 'js/uikit.min.js' %}"></script>
{% endblock %}
{% block title %}Добавление статьи{% endblock title %}

{% block content %}
   <div class="news-header" style="background: url('/media/img/news_background.jpg');">      
      <h1>Add Post</h1>
   </div>
   <div class="wrapper">
      <div>
         {% if messages %}
            {% for mess in messages %}
               <div>
                  {{ mess }}
               </div>
            {% endfor %}
         {% endif %}

      </div>
      <div style="padding-top: 50px;">
         <h2>Добавление новой статьи</h2>
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить</button>
         </form>
      </div>
   </div>
{% endblock content %}