{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}

{% block content %}
   <div class="news-header" style="background: url('/media/img/news_background.jpg');">
      <nav>
         <div class="logo">
            <h4>ICT</h4>
         </div>

         <ul class="menu">
            <li class="menu_item">
               <a href="{% url 'home_url' %}" class="menu_link">Главная</a>
            </li>
            <li class="menu_item">
               <a href="#services" class="menu_link go_to">Services</a>
            </li>
            <li class="menu_item">
               <a href="#about-us" class="menu_link go_to">About us</a>
            </li>
            <li class="menu_item">
               <a href="{% url 'news_url' %}" class="menu_link">News</a>
            </li>
            <li class="menu_item">
               <a href="#location" class="menu_link go_to">Location</a>
            </li>
            <li class="menu_item">
               <a href="#" class="menu_link">Contacts</a>
            </li>
         </ul>
         <div class="phone_number">
            <div>
               <img src="/media/img/phone-call.svg" alt="img">
            </div>
            <p> +7 775 666 1717</p>
         </div>
      </nav>
      
      <h1>Profile</h1>
   </div>
   <div class="wrapper">
      <div>
         {% if messages %}
            {% for mess in messages %}
               <div>
                  {{ mess }}
               </div>
            {% endfor %}
         {% endif %}

         <h3>Личный кабинет</h3>
         <p>{{ user.username }}</p>
         <p>{{ user.first_name }} {{ user.last_name }}</p>
         <p>{{ user.email }}</p>
         <img src="{{ user.profile.img.url }}" alt="" style="width: 65px;height:65px;">
      </div>
      <div style="padding-top: 50px;">
         <h2>Изменение данных</h2>
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user.as_p }}
            {{ img_profile.as_p }}
            <button type="submit">Изменить</button>
         </form>
      </div>
   </div>
{% endblock content %}