{% extends 'base.html' %}
{% block title %}{{ user.get_full_name }}{% endblock title %}

{% block content %}
   <div class="news-header" style="background: url('/media/img/news_background.jpg');">
      <nav>
         <div class="logo">
            <h4>ICT</h4>
         </div>

         <ul class="menu">
            <li class="menu_item">
               <a href="{% url 'home_url' %}" class="menu_link">Главная</a>
            </li>
            <li class="menu_item">
               <a href="#services" class="menu_link go_to">Services</a>
            </li>
            <li class="menu_item">
               <a href="#about-us" class="menu_link go_to">About us</a>
            </li>
            <li class="menu_item">
               <a href="{% url 'news_url' %}" class="menu_link">News</a>
            </li>
            <li class="menu_item">
               <a href="#location" class="menu_link go_to">Location</a>
            </li>
            <li class="menu_item">
               <a href="#" class="menu_link">Contacts</a>
            </li>
         </ul>
         <div class="phone_number">
            <div>
               <img src="/media/img/phone-call.svg" alt="img">
            </div>
            <p> +7 775 666 1717</p>
         </div>
      </nav>
      
      <h1>Profile</h1>
   </div>
   <div class="wrapper">
      <div class="profile-wrapper">
         <div class="profile">
            {% if messages %}
               {% for mess in messages %}
                  <div>
                     {{ mess }}
                  </div>
               {% endfor %}
            {% endif %}
            <h2>Личный кабинет</h2>
            <div class="user-area">
               <div class="user-img">
                     <img src="{{ user.profile.img.url }}" alt="" style="width: 65px;height:65px;border-radius: 50%;">
               </div>
               <div class="user-info">
                  <p><strong> @{{ user.username }}</strong></p>
                  <p><strong> {{ user.first_name }} {{ user.last_name }}</strong></p>
                  <p><strong> {{ user.email }}</strong></p>
               </div>
            </div>
         </div>
         <div style="padding-top: 50px;" class="profile">
            <h2>Изменение данных</h2>
            <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               {{ update_user.as_p }}
               {{ img_profile.as_p }}
               <button type="submit">Изменить</button>
            </form>
         </div>
      </div>
   </div>
{% endblock content %}