{% extends 'base.html' %}
{% block title %}Факультет - ИКТ. Университет им.Шакарима{% endblock title %}

{% block content %}
   <header>
      <div class="principal">
         <h1>Website</h1>
         <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>

      <div class="links flex j-sb">
         <a href="{% url 'specialty_url' %}" class="text-decor-none links-box transition">
            <div class="links_item flex j-se">
               <div class="links_icon">
                  <img src="/media/img/earth-globe.svg" alt="earth-globe">
               </div>
               <div class="links_text">
                  <p class="links-title transition">Специальности</p>
                  <p class="view-more transition">View more</p>
               </div>
            </div>
         </a>

         <a href="{% url 'informations_url' %}" class="text-decor-none links-box transition">
            <div class="links_item flex j-se">
               <div class="links_icon">
                  <img src="/media/img/books.svg" alt="books">
               </div>
               <div class="links_text">
                  <p class="links-title transition">Жизнь в университете</p>
                  <p class="view-more transition">View more</p>
               </div>
            </div>
         </a>

         <a href="{% url 'staff_url' %}" class="text-decor-none links-box transition">
            <div class="links_item flex j-se">
               <div class="links_icon">
                  <img src="/media/img/professor.svg" alt="professor">
               </div>
               <div class="links_text">
                  <p class="links-title transition">Персонал</p>
                  <p class="view-more transition">View more</p>
               </div>
            </div>
         </a>
      </div>
   </header>

   <section id="register" class="register">
      <div class="register-info">
         <div class="register-wrap">
            <h2 class="register-title">О нас</h2>

            <p class="register-desc">
               In aliquam, augue a gravida rutrum,
               ante nisl fermentum nulla, vitae
               tempor nisl ligula vel nunc. Proin
               quis mi malesuada, finibus tortor
               fermentum. Aliquam, augue a gravida
               rutrum, ante nisl fermentum nulla,
               vitae tempo ...
            </p>

            <a class="text-decor-none register-submit transition"href="#">Подробнее</a>
         </div>
      </div>

      <div class="register-form">
         <div class="register-wrap">
            <h2 class="register-title">Наша история</h2>

            <p class="register-desc">
               In aliquam, augue a gravida rutrum,
               ante nisl fermentum nulla, vitae
               tempor nisl ligula vel nunc. Proin
               quis mi malesuada, finibus tortor
               fermentum. Aliquam, augue a gravida
               rutrum, ante nisl fermentum nulla,
               vitae tempo ...
            </p>

            <a class="text-decor-none register-submit transition" href="#">Подробнее</a>
            <<!-- -->>
         </div>
      </div>
   </section>

   <section id="services" class="services section">
      <div class="wrapper">
         <h2 class="section-title">Почему мы?</h2>

         <div class="services-box flex j-sb flex-wrap">
            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/earth-globe.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Online Courses</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>

            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/exam.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Indoor Courses</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,/
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>

            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/books.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Amazing Library</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>

            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/professor.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Exceptional Professors</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>

            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/blackboard.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Top Programs</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>

            <div class="services-box__item">
               <div class="services-box__icon">
                  <img src="/media/img/mortarboard.svg" alt="envelope">
               </div>

               <h2 class="text-title services-box__title">Graduate Diploma</h2>

               <p class="text-desc services-box__desc">
                  In aliquam, augue a gravida rutrum,
                  ante nisl fermentum nulla, vitae
                  tempor nisl ligula vel nunc. Proin
                  quis mi malesuada, finibus tortor fermentum.
               </p>
            </div>
         </div>
      </div>
   </section>

   <section id="testimonials" class="testimonials section">
      <div class="wrapper">
         <h2 class="section-title testimonials-title">Что говорят наши студенты</h2>
         
         <div class="slider-review uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
               <ul class="slider-review-box uk-slideshow-items">
                  <li class="slider-review__item">
                     <div class="testimonials-quote">“</div>

                     <p class="testimonials-text">
                        In aliquam, augue a gravida rutrum,
                        ante nisl fermentum nulla, vitae
                        tempor nisl ligula vel nunc. Proin
                        quis mi malesuada, finibus tortor
                        fermentum.In aliquam, augue a gravida
                        rutrum, ante nisl fermentum nulla,
                        vitae tempor nisl ligula vel nunc.
                        Proin quis mi malesuada, finibus tortor fermentum.
                     </p>
      
                     <div class="testimonial-user">
                        <div class="testimonial-img">
                           <img src="/media/img/testimonials_user.jpg" alt="ИКТ-отзывы">
                        </div>
                        <p class="testimonial-name">james cooper</p>
                        <p class="testimonial-title">Graduate Student</p>
                     </div>
                  </li>
                  
                  <li class="slider-review__item">
                     <div class="testimonials-quote">“</div>

                     <p class="testimonials-text">
                        In aliquam, augue a gravida rutrum,
                        ante nisl fermentum nulla, vitae
                        tempor nisl ligula vel nunc. Proin
                        quis mi malesuada, finibus tortor
                        fermentum.In aliquam, augue a gravida
                        rutrum, ante nisl fermentum nulla,
                        vitae tempor nisl ligula vel nunc.
                        Proin quis mi malesuada, finibus tortor fermentum.
                     </p>
      
                     <div class="testimonial-user">
                        <div class="testimonial-img">
                           <img src="/media/img/testimonials_user.jpg" alt="ИКТ-отзывы">
                        </div>
                        <p class="testimonial-name">james cooper</p>
                        <p class="testimonial-title">Graduate Student</p>
                     </div>
                  </li>

                  <li class="slider-review__item">
                     <div class="testimonials-quote">“</div>

                     <p class="testimonials-text">
                        In aliquam, augue a gravida rutrum,
                        ante nisl fermentum nulla, vitae
                        tempor nisl ligula vel nunc. Proin
                        quis mi malesuada, finibus tortor
                        fermentum.In aliquam, augue a gravida
                        rutrum, ante nisl fermentum nulla,
                        vitae tempor nisl ligula vel nunc.
                        Proin quis mi malesuada, finibus tortor fermentum.
                     </p>
      
                     <div class="testimonial-user">
                        <div class="testimonial-img">
                           <img src="/media/img/testimonials_user.jpg" alt="ИКТ-отзывы">
                        </div>
                        <p class="testimonial-name">james cooper</p>
                        <p class="testimonial-title">Graduate Student</p>
                     </div>
                  </li>
               </ul>

               <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
               <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>

            <ul class="slider-review-dotnav uk-slideshow-nav uk-dotnav uk-flex-center uk-margin flex-align-center"></ul>
         </div>
      </div>
   </section>

   <section id="news-slider" class="news-slider section">
      <div>
         <h2 class="section-title">Новости</h2>

         <div class="news-slider-box uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true; autoplay: true; autoplay-interval: 4000">
            <ul class="uk-slider-items uk-grid">
               <li class="uk-width-1-2">
                  <div class="uk-panel">
                     <img src="https://getuikit.com/docs/images/light.jpg" alt="ИКТ-новости">
                     <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Сенсация</h3>
                        <p class="uk-margin-remove">Все будет, но не сразу - цитата работает, просто ждите</p>
                        <a class="text-decor-none slider-btn transition" href="#">Подробнее</a>
                     </div>
                  </div>
               </li>
               <li class="uk-width-1-2">
                  <div class="uk-panel">
                     <img src="https://getuikit.com/docs/images/photo2.jpg" alt="ИКТ-новости">
                     <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Сенсация</h3>
                        <p class="uk-margin-remove">Все будет, но не сразу - цитата работает, просто ждите</p>
                        <a class="text-decor-none slider-btn transition" href="#">Подробнее</a>
                     </div>
                  </div>
               </li>
               <li class="uk-width-1-2">
                  <div class="uk-panel">
                     <img src="https://getuikit.com/docs/images/photo3.jpg" alt="ИКТ-новости">
                     <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Сенсация</h3>
                        <p class="uk-margin-remove">Все будет, но не сразу - цитата работает, просто ждите</p>
                        <a class="text-decor-none slider-btn transition" href="#">Подробнее</a>
                     </div>
                  </div>
               </li>
               <li class="uk-width-1-2">
                  <div class="uk-panel">
                     <img src="https://getuikit.com/docs/images/photo.jpg" alt="ИКТ-новости">
                     <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Сенсация</h3>
                        <p class="uk-margin-remove">Все будет, но не сразу - цитата работает, просто ждите</p>
                        <a class="text-decor-none slider-btn transition" href="#">Подробнее</a>
                     </div>
                  </div>
               </li>
               <li class="uk-width-1-2">
                  <div class="uk-panel">
                     <img src="https://getuikit.com/docs/images/dark.jpg" alt="">
                     <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Сенсация</h3>
                        <p class="uk-margin-remove">Все будет, но не сразу - цитата работает, просто ждите</p>
                        <a class="text-decor-none slider-btn transition" href="#">Подробнее</a>
                     </div>
                  </div>
               </li>
            </ul>
            
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
         </div>
      </div>
   </section>

   <section id="teachers-detail" class="teachers-detail">
      <div class="teachers-detail-ava-box">
         <div class="teachers-detail-ava__img">
            <img src="/media/img/teacher_1.jpg" alt="ИКТ-учителя">
         </div>
      </div>
      <div class="teachers-detail-info-box">
         <div class="teachers-detail-info-container">
            <p class="teachers-detail-info__name">
               Maria <span>Smith</span>
            </p>
            <div class="teachers-detail-info__job flex j-sb flex-align-bottom">
               <p class="teachers-detail-info__job-title">Web Designer</p>

               <div class="teachers-detail-info__links">
                  <a class="transition" href="#">
                     <i class="fa fa-pinterest" aria-hidden="true"></i>
                  </a>
                  <a class="transition" href="#">
                     <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a class="transition" href="#">
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a class="transition" href="#">
                     <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a class="transition" href="#">
                     <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
               </div>
            </div>

            <div class="teachers-detail-info__personal-info flex j-sb">
               <div>
                  <p class="teachers-detail-info__personal-title">Location</p>
                  <p class="teachers-detail-info__personal-desc">Portland, OR</p>
               </div>

               <div>
                  <p class="teachers-detail-info__personal-title">Location</p>
                  <p class="teachers-detail-info__personal-desc">Portland, OR</p>
               </div>

               <div>
                  <p class="teachers-detail-info__personal-title">Location</p>
                  <p class="teachers-detail-info__personal-desc">Portland, OR</p>
               </div>

               <div>
                  <p class="teachers-detail-info__personal-title">Location</p>
                  <p class="teachers-detail-info__personal-desc">Portland, OR</p>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}