{% extends 'base.html' %}
{% block links %}{% endblock %}
{% block title %}ICT - Student Life{% endblock %}

{% block content %}
   <div class="news-header parallax-window" data-parallax="scroll" data-image-src="/media/background-images/news-bg.jpg">
      <nav>
         <div class="logo">
            <h4>ICT</h4>
         </div>

         <ul class="menu">
            <li class="menu_item">
               <a href="{% url 'home_url' %}" class="menu_link">Главная</a>
            </li>
            <li class="menu_item">
               <a href="#services" class="menu_link go_to">Services</a>
            </li>
            <li class="menu_item">
               <a href="#about-us" class="menu_link go_to">About us</a>
            </li>
            <li class="menu_item">
               <a href="{% url 'news_url' %}" class="menu_link">News</a>
            </li>
            <li class="menu_item">
               <a href="#location" class="menu_link go_to">Location</a>
            </li>
            <li class="menu_item">
               <a href="#" class="menu_link">Contacts</a>
            </li>
         </ul>
         <div class="phone_number">
            <div>
               <img src="/media/img/phone-call.svg" alt="img">
            </div>
            <p> +7 775 666 1717</p>
         </div>
      </nav>
      
      <h1>Student Life</h1>
   </div>

   <section id="news-section" class="news-section">
      <div class="wrapper news-wrap">
         <div class="news-box">
            <div class="news-box__item">
               {% if information.img_main %}
                  <div class="news-box__img">
                     <img src="{{ information.img_main.url }}" alt="news">
                  </div>
               {% endif %}
               <div class="news-box__container">
                  <p class="news-box__date">16 <span>Регион</span></p>
 
                  <div class="news-box__title">
                     <a>{{ information.title }}</a>
                     <p class="news-box__author">{{ information.location }}</p>
                  </div>
               </div>

               <p class="text-desc news-box__desc news-desc-margin-b">{{ information.text|safe }}</p>
                             
               <!-- <p class="news-detail__quote">
                  Etiam eu purus nec eros varius luctus. Praesent finibus risus 
                  facilisis ultricies venena tis. Suspendisse fermentum sodales 
                  lacus, lacinia gravida elit.
               </p>

               <p class="text-desc news-box__desc news-desc-margin-t">
                  In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                  vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, 
                  finibus tortor fermentum. Etiam eu purus nec eros varius luctus. 
                  Praesent finibus risus facilisis ultricies. Etiam eu purus nec 
                  eros varius luctus. Praesent finibus risus facilisis ultricies 
                  venenatis. Suspendisse fermentum sodales lacus, lacinia gravida 
                  elit dapibus sed. Cras in lectus elit. Maecenas tempus nunc vitae 
                  mi egestas venenatis. Aliquam rhoncus, purus in vehicula porttitor, 
                  lacus ante consequat purus, id elementum enim purus nec enim. 
                  In sed odio rhoncus, tristique ipsum id, pharetra neque.
               </p> -->
            </div>
         </div>
      </div>
   </section>

{% endblock content %}