{% extends 'base.html' %}
{% block title %}ICT - Персонал{% endblock %}

{% block content %}
   <div class="news-header parallax-window" data-parallax="scroll" data-image-src="/media/background-images/news-bg.jpg">      
      <h1>Персонал</h1>
   </div>

   <section id="teachers" class="teachers section">
      <div class="wrapper">
         <h2 class="section-title">Наш персонал</h2>

         <div class="teachers-box flex j-sb flex-wrap">
            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="{{ user_1.profile.img.url }}" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="{{ user_1.profile.get_absolute_url }}">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p>Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">{{ user_1.get_full_name }}</h3>
                  <p class="text-desc teachers-box__job">{{ user_1.profile.position }}</p>
                  
                  <div class="teachers-box__links">
                     <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>
            
            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="/media/img/teacher_2.jpg" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="#">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p href="#">Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">Christian Blue</h3>
                  <p class="text-desc teachers-box__job">Graphic Designer</p>
                  
                  <div class="teachers-box__links">
                     <a class="transition" href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a class="transition" href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a class="transition" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a class="transition" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a class="transition" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>

            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="/media/img/teacher_3.jpg" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="#">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p href="#">Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">James Brown</h3>
                  <p class="text-desc teachers-box__job">Graphic Designer</p>
                  
                  <div class="teachers-box__links">
                     <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>

            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="/media/img/teacher_4.jpg" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="#">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p href="#">Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">Julie Denver</h3>
                  <p class="text-desc teachers-box__job">Graphic Designer</p>
                  
                  <div class="teachers-box__links">
                     <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>

            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="/media/img/teacher_5.jpg" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="#">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p href="#">Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">Julie Denver</h3>
                  <p class="text-desc teachers-box__job">Graphic Designer</p>
                  
                  <div class="teachers-box__links">
                     <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>

            <div class="teachers-box__item">
               <div class="teachers-box__img uk-inline">
                  <img src="/media/img/teacher_6.jpg" alt="ИКТ-учителя">

                  <a class="teachers-overlay-link transition" href="#">
                     <div class="uk-overlay-primary uk-position-cover">
                        <div class="uk-position-center">
                           <p href="#">Подробнее</p>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="teachers-box__desc">
                  <h3 class="text-title teachers-box__name">Julie Denver</h3>
                  <p class="text-desc teachers-box__job">Graphic Designer</p>
                  
                  <div class="teachers-box__links">
                     <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   
{% endblock content %}